<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/view/style.css">
  <title>WinterRecifey></title>
</head>

<body>
  <!--Cabeçalho-->
  <header>
    <!-- Menu -->
    <nav>
      <!-- Links-->
      <div class="logo"><img src="/img/logo.png" alt="logowinterrecifey" width="90px" height="90px"></div>
      <div>
        <ul>
          <li><a href="">Pág 1</a></li>
          <li><a href="">Pág 2</a></li>
          <li><a href="">Pág 3</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <p class="paragrafro">Caio</p>
</body>

</html>