@charset "UTF-8";
body {
  /* Resetando as config padrão do body*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Formatação do menu*/
nav {
  display: flex;
}
.menu-container {
  display: flex;
}
.item-do-menu {
  display: flex;
}

/* Formatação do carrossel*/
#carouselExampleIndicators {
  margin: auto;
  width: 745px;
  height: 400px;
}
